image: shr3jn/android-fastlane:latest

stages:
  - publish
  - appcore_publish

feature_a:
  stage: publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master$/'
      when: always
  script:
    - kotlinc -script versions.kts

feature_b:
  stage: publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master$/'
      when: always
  script:
    - kotlinc -script versions.kts

feature_c:
  stage: appcore_publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master$/'
      when: always
  script:
    - git config --global user.email "susanthapa202@gmail.com"
    - git config --global user.name "Susan Thapa"
    - kotlinc -script versions.kts
    - export repoUrl=$(grep "@" <<< $CI_REPOSITORY_URL | cut -d"@" -f2)
    - git remote remove origin
    - git remote add origin https://$GIT_USERNAME:$GIT_PASSWORD@$repoUrl
    - kotlinc -script versions.kts true
    - git push origin $CI_COMMIT_REF_NAME
