image: shr3jn/android-fastlane:latest

stages:
  - publish
  - appcore_publish

feature_a:
  stage: publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master$/'
      changes:
        - feature_a/**/*
      when: always
  script:
    - kotlinc -script versions.kts
    - cat changed_modules.txt
    - echo "building module"
    - echo "publishing module"

feature_b:
  stage: publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master$/'
      changes:
        - feature_b/**/*
      when: always
  script:
    - kotlinc -script versions.kts
    - cat changed_modules.txt
    - echo "building module"
    - echo "publishing module"

feature_c:
  stage: appcore_publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master$/'
      when: always
  script:
    - kotlinc -script versions.kts feature_c
    - cat changed_modules.txt
    - echo "building module"
    - echo "publishing module"
    - echo "committing changes"
