image: shr3jn/android-fastlane:latest

stages:
  - publish
  - appcore_publish

feature_a:
  stage: publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master$/'
      when: always
  script:
    - kotlinc -script versions.kts false
    - ./gradlew :features:feature_a:assembleRelease

feature_b:
  stage: publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master$/'
      when: always
  script:
    - kotlinc -script versions.kts false
    - ./gradlew :features:feature_b:assembleRelease

feature_c:
  stage: appcore_publish
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master$/'
      when: always
  script:
    - kotlinc -script versions.kts false
    - ./gradlew :features:feature_c:assembleRelease
    - git checkout versions.kts
    - kotlinc -script versions.kts true
